{{!-- <div class="flex flex-col min-w-[450px] !p-1 gap-3 whitespace-nowrap"> --}}
<div class="dice-prompt-body">
	<div class="grid-3-columns dice-prompt-wrapper">
		<label>
			<span>
				{{localize "DNM.Labels.DicePrompt.Attribute" }}
			</span>
			{{#if fixedTargetNumber}}
				<input
					data-dtype="Number"
					max="20"
					min="1"
					name="fixedTargetNumber"
					type="number"
					value="{{fixedTargetNumber}}"
				/>
			{{else}}
				<select name="attribute">
					{{#select attribute}}
						{{#each attributes}}
							<option value="{{name}}">
								{{label}} ({{value}})
							</option>
						{{/each}}
					{{/select}}
				</select>
			{{/if}}
		</label>
		<label>
			<span>
				{{localize "DNM.Labels.DicePrompt.Skill" }}
			</span>
			{{#if fixedFocus}}
				<input
					data-dtype="Number"
					max="20"
					min="1"
					name="fixedFocus"
					type="number"
					value="{{fixedFocus}}"
				/>
			{{else}}
				<select name="skill">
					{{#select skill}}
						<option value="">&mdash;</option>
						{{#each skills}}
							<option value="{{name}}">
								{{label}} ({{value}})
							</option>
						{{/each}}
					{{/select}}
				</select>
			{{/if}}
		</label>
		<label>
			<span>
				{{localize "DNM.Labels.DicePrompt.Complication" }}
			</span>
			<input
				data-dtype="Number"
				max="20"
				min="1"
				name="complication"
				type="number"
				value="{{ complication }}"
			/>
		</label>
	</div>

	<div class="dice">
		{{#each diceStatuses}}
			{{> diceDisplay
				active=this.active
				index=this.index
			}}
		{{/each}}
	</div>

	<button class="gap-1 text-xl font-semibold" data-action="roll">
		{{localize "DNM.Labels.DicePrompt.Roll" }}
	</button>
</div>

{{#*inline "diceDisplay"}}
	<a
		data-action="set-num-dice"
		data-value="{{index}}"
		{{#if active}}
			class="active"
		{{/if}}
	>
		<i class="fas fa-dice-d20"></i>
	</a>
{{/inline}}
