<div class="dnm chat-message">
	{{#if item}}
		<span class="item-name">
			{{!-- Show the weapon name, rather than Action name, for Major NPC actions. --}}
			{{#if (and item.system.weapon item.system.weapon.name)}}
				{{item.system.weapon.name}}
			{{else}}
				{{item.name}}
			{{/if}}
		</span>
	{{/if}}

	<span class="chat-description">
		{{#if npcRoll}}
			{{rollTitle}}
		{{else}}
			{{#if skill}}
				{{attribute}} + {{skill}}
			{{else}}
				{{attribute}}
			{{/if}}
		{{/if}}
	</span>

	<span class="result-grid">
		<span class="result-item">
			<span class="result-item-header">
				{{localize "DNM.Labels.TargetNumber"}}
			</span>
			{{targetNumber}}
			({{skillValue}})
		</span>

		<span class="result-item">
			<span class="result-item-header">
				{{localize "DNM.Labels.DicePrompt.Complication"}}
			</span>
			{{#if (lt complicationRange 20)}}
				{{complicationRange}}&dash;20
			{{else}}
				{{complicationRange}}
			{{/if}}
		</span>

		<span class="result-item">
			<span class="result-item-header">
				{{localize "DNM.Labels.Successes"}}
			</span>
			<span>{{ successes }}</span>
		</span>

		<span class="result-item">
			<span
				{{#ifCond complications "===" 0}}
					class="result-item-header"
				{{else}}
					class="result-item-header complication"
				{{/ifCond}}
			>
				{{localize "DNM.Labels.Complications"}}
			</span>
			{{complications}}
		</span>

		{{#if (and item item.system.isWeapon)}}
			<span class="result-item">
				<span class="result-item-header">
					{{localize "DNM.Labels.Damage" }}
				</span>
				<span class="text-sm flex flex-wrap items-center gap-1 justify-center">
					{{#if item.system.weapon.damageQualities}}
						{{#each item.system.weapon.damageQualities}}
							<span class="oblique font-semibold">{{ label }}{{#if (gt rating 0)}} {{ rating }}{{/if}}</span>
							{{#unless @last}}<span>{{localize "DNM.Labels.Weapon.or" }}</span>{{/unless}}
						{{/each}}
					{{else}}
						&mdash;
					{{/if}}
				</span>
			</span>

			<span class="result-item">
				<span class="result-item-header">
					{{localize "DNM.Labels.Qualities" }}
				</span>
				<span class="text-sm flex flex-wrap items-center gap-1 justify-center">
					{{#if item.system.weapon.qualities}}
						{{#each item.system.weapon.qualities}}
							<span class="oblique font-semibold">{{ label }}{{#if (gt rating 0)}} {{ rating }}{{/if}}{{#unless @last}},{{/unless}}</span>
						{{/each}}
					{{else}}
						&mdash;
					{{/if}}
				</span>
			</span>
		{{/if}}
	</span>

	<div class="dice-list">
		{{#each results}}
			<div style="position: relative;" data-tooltip="{{tooltip}}">
				<i class="fat fa-dice-d20 dice-icon"></i>
				<div
					{{#if isFail}}
						class="dice-number failure"
					{{/if}}
					{{#if isComplication}}
						class="dice-number complication"
					{{/if}}
					{{#if isSuccess}}
						class="dice-number"
					{{/if}}
				>
					{{face}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
