<div class="equipment">
	<span class="label">
		{{localize "DNM.Labels.Equipment"}}
	</span>

	<ol class="item-list">
		{{#each equipment}}
		<li
			class="item"
			data-menu="item"
			data-uuid="{{this.uuid}}"
		>
			{{#if system.isWeapon}}
				{{#if (or (eq system.weapon.type 'Melee') (eq system.weapon.type 'MeleeRanged'))}}
					<a
						data-action="roll"
						data-attribute="might"
						data-skill="fight"
						data-uuid="{{uuid}}"
					>
						<i class="fas fa-sword"></i>
					</a>
				{{/if}}

				{{#if (or (eq system.weapon.type 'Ranged') (eq system.weapon.type 'MeleeRanged'))}}
					<a data-action="roll" data-attribute="quickness" data-skill="fight" data-uuid="{{ uuid }}"><i class="fas fa-bow-arrow"></i></a>
				{{/if}}
			{{/if}}

			<a
				class="font-bold"
				data-action="open-sheet"
				data-uuid="{{uuid}}"
			>
				{{name}}
				{{#if (gt system.techLevel 0)}}
					(TL{{ system.techLevel }}
					{{#if system.isWeapon}}, {{localize (concat "DNM.Labels.Weapon." system.weapon.type)}}
					{{/if}})
				{{else}}
					{{#if system.isWeapon}} ({{localize (concat "DNM.Labels.Weapon." system.weapon.type)}})
					{{/if}}
				{{/if}}
				{{#if system.hasQualities}}:{{else}}.{{/if}}</a>
		</li>
		{{/each}}
	</ol>
</div>
