<div class="goals">

	<span class="label">
		{{localize "DNM.Labels.Actor.Goals"}}
	</span>

	{{> displayGoals
		goals=system.goals.shortTerm
		label=(localize "DNM.Labels.Actor.ShortTermGoals")
		type="shortTerm"
	}}

	{{> displayGoals
		goals=system.goals.longTerm
		label=(localize "DNM.Labels.Actor.LongTermGoals")
		type="longTerm"
	}}

</div>


{{#*inline "displayGoals"}}
	<div class="custom-goals">
		<p class="goal-header">
			{{label}}
		</p>
		{{#each goals}}
			<p
				class="goal-edit"
				data-index="{{@index}}"
				data-type="{{../type}}"
				data-menu="goal"
			>
				{{this}}
			</p>
		{{/each}}
		<div class="add-goal-row">
			<a
				class="add-goal"
				data-action="add-goal"
				data-type="{{type}}"
				data-tooltip="{{localize 'DNM.Labels.Actor.AddGoal'}}"
			>
				<i class="fa-solid fa-square-plus"></i>
			</a>
		</div>
	</div>
{{/inline}}
