<div class="meta-currencies">
	<div class="spirit">
		<span class="label" style="grid-column: span 2;">
			{{localize "DNM.Labels.SpiritPool"}}
		</span>
		<label class="spirit-value">
			<span class="sublabel">
				{{localize "DNM.Labels.CurrentShort"}}
			</span>
			<input
				data-dtype="Number"
				max="{{system.spirit.max}}"
				min="0"
				name="system.spirit.value"
				{{#ifCond system.spirit.value "<=" 0}}
					style="color: darkred;"
				{{/ifCond}}
				type="number"
				value="{{system.spirit.value}}"
			/>
		</label>
		<label class="spirit-value">
			<span class="sublabel">
				{{localize "DNM.Labels.Max"}}
			</span>
			<input
				data-dtype="Number"
				min="0"
				name="system.spirit.max"
				type="number"
				value="{{system.spirit.max}}"
				{{disabled editModeDisabled}}
			/>
		</label>
	</div>

	<div class="coin">
		<span class="label">
			{{localize "DNM.Labels.Coin"}}
		</span>
		<input
			min="0"
			name="system.coin"
			type="number"
			value="{{ system.coin }}"
		/>
	</div>

	<div class="tech-level">
		<span class="label">
			{{localize "DNM.Labels.TechLevelShort"}}
		</span>
		<input
			type="number"
			name="system.techLevel"
			value="{{system.techLevel}}"
			min="0"
			{{disabled editModeDisabled}}
		/>
	</div>

	<div class="supply">
		<span class="label">
			{{localize "DNM.Labels.Supply"}}
		</span>
		<input
			type="number"
			name="system.supplyPoints"
			value="{{ system.supplyPoints }}"
			min="0"
			{{disabled editModeDisabled}}
		/>
	</div>

	<div class="growth">
		<span class="label">
			{{localize "DNM.Labels.Growth"}}
		</span>
		<input
			type="number"
			name="system.growth"
			value="{{system.growth}}"
			min="0"
		/>
	</div>
</div>
