<div class="grid-1-columns">
	<span class="label">
		{{localize "DNM.Labels.Actor.Truths" }}
	</span>
	<div
		{{!-- class="grid grid-cols-4 gap-x-2 gap-y-1 w-full h-full bg-white border-1 border-t-0 border-fuchsia-200 p-2" --}}
		class="truths"
	>
		<ul>
		{{#each system.traits}}
			<li>
				<input type="text" name="system.traits.{{ @index }}" value="{{ this }}" class="!bg-none !rounded-none !border-none font-semibold" />
				<a data-action="delete-trait" data-index="{{ @index }}" class="text-sm">
					<i class="fas fa-trash"></i>
				</a>
			</li>
		{{/each}}
		</ul>
		<div class="col-span-4 text-right">
			<a data-action="add-trait">
				<i class="fas fa-plus"></i>
				<span>{{localize "DNM.Labels.Actor.AddTrait" }}</span>
			</a>
		</div>
	</div>
</div>
