<div class="grid-4-columns">
	<span class="label grid-colspan-4">
		{{localize "DNM.Labels.Attributes"}}
	</span>

	<label class="sublabel">
		<span>
			{{localize "DNM.Attributes.Might"}}
		</span>
		<input
			data-type="Number"
			name="system.attributes.might.value"
			type="number"
			value="{{system.attributes.might.value}}"
		/>
	</label>
	<label class="sublabel">
		<span>
			{{localize "DNM.Attributes.Quickness"}}
		</span>
		<input
			data-type="Number"
			name="system.attributes.quickness.value"
			type="number"
			value="{{system.attributes.quickness.value}}"
		/>
	</label>
	<label class="sublabel">
		<span>
			{{localize "DNM.Attributes.Insight"}}
		</span>
		<input
			data-type="Number"
			name="system.attributes.insight.value"
			type="number"
			value="{{system.attributes.insight.value}}"
		/>
	</label>
	<label class="sublabel">
		<span>
			{{localize "DNM.Attributes.Resolve"}}
		</span>
		<input
			data-type="Number"
			name="system.attributes.resolve.value"
			type="number"
			value="{{system.attributes.resolve.value}}"
		/>
	</label>
</div>
