<form class="{{cssClass}}" autocomplete="off">

	{{> actor/_partials/header}}

	<div class="sheet-body">

		<div class="grid-2-columns">
			{{!-- Left --}}
			<div class="grid-4-columns">
				<div class="grid-colspan-3">
					{{> actor/major-npc/truths }}
				</div>
				{{> actor/major-npc/personal-threat }}
				<div class="grid-colspan-3">
					{{> actor/major-npc/attributes }}
					{{> actor/major-npc/notes }}
				</div>
				<div>
					{{> actor/_partials/skills }}
					{{> actor/major-npc/injuries }}
				</div>
			</div>

			{{!-- Right --}}
			<div>
				<label class="label">{{localize "DNM.Labels.Actions" }}</label>
				{{#if actions}}
					<div class="flex flex-col w-full p-1 gap-2">
						{{#each actions}}
							<div class="flex flex-col">
								<div class="flex items-center gap-1 text-teal-700">
									{{#if (ne system.skillTest.attribute '-')}}
										<a data-action="roll-action" data-uuid="{{ uuid }}" data-attribute="{{ system.skillTest.attribute }}" data-skill="{{ system.skillTest.skill }}" class="text-xl">
											<i class="fas fa-dice-d20"></i>
										</a>
									{{/if}}
									<span data-menu="item" data-uuid="{{ uuid }}" class="text-black">
										<span class="flex items-center gap-1">
											<a class="text-2xl font-semibold text-teal-700" data-action="open-sheet" data-uuid="{{ uuid }}">{{ name }}</a>
											<span class="text-lg text-teal-700">({{localize "DNM.Labels.TN" }} {{#if (gt system.skillTest.tn 0)}}{{ system.skillTest.tn }}{{else}}—{{/if}} / {{localize "DNM.Labels.Focus" }} {{#if (gt system.skillTest.focus 0)}}{{ system.skillTest.focus }}{{else}}—{{/if}})</span>
										</span>
									</span>
								</div>
								{{#if enrichedDescription}}
									<div class="border-0 border-l-4 border-solid border-teal-600 pl-2 text-sm oblique">{{{ enrichedDescription }}}</div>
								{{/if}}
								{{#if (and system.weapon.name (ne system.weapon.name '-'))}}
									<div class="border-0 border-l-4 border-solid border-teal-600 pl-2">
										<span class="font-semibold uppercase">{{ system.weapon.name }} ({{ localize (concat "DNM.Labels.Weapon." system.weapon.type) }}):</span>
										{{#each system.weaponQualities}}
											<span class="oblique whitespace-nowrap">{{ label }}{{#unless (eq rating null)}} {{ rating }}{{/unless}}{{#unless @last}},{{/unless}}</span>
										{{/each}}
									</div>
								{{/if}}
							</div>
						{{/each}}
					</div>
				{{else}}
					<div class="placeholder"><em>{{localize "DNM.Labels.AddActions" }}</em></div>
				{{/if}}
				<label class="w-full bg-teal-600 py-0.5 pl-2 text-white font-semibold uppercase">{{localize "DNM.Labels.SpecialAbilities" }}</label>
				<div class="w-full p-2">
					{{#each abilities}}
						<p><strong data-menu="item" data-uuid="{{ uuid }}"><a data-action="open-sheet" data-uuid="{{ uuid }}">{{ name }}</a>:</strong> {{{ enrichedDescription }}}</p>
					{{/each}}
				</div>

				{{> actor/major-npc/description}}
			</div>
		</div>
	</div>
</form>
