<form class="{{cssClass}}" autocomplete="off">
	{{> item/_partials/header}}

	<div class="sheet-body">
		{{> item/origin/attributes}}
		<br>
		{{> item/origin/attribute-choices}}
		<br>
		{{> item/origin/skills}}
		<br>
		{{> item/origin/skill-choices}}
		<br>

		{{!-- Tech Level/Spirit/Supply Points --}}
		<div class="grid-3-columns">
			<label class="sublabel">
				<span class="label">
					{{localize "DNM.Labels.TechLevel"}}
				</span>
				<input
					data-type="Number"
					name="system.techLevel"
					type="number"
					value="{{system.techLevel}}"
				/>
			</label>

			<label class="sublabel">
				<span class="label">
					{{localize "DNM.Labels.Spirit"}}
				</span>
				<input
					data-type="Number"
					name="system.spirit"
					type="number"
					value="{{system.spirit}}"
				/>
			</label>

			<label class="sublabel">
				<span class="label">
					{{localize "DNM.Labels.SupplyPoints"}}
				</span>
				<input
					data-type="Number"
					name="system.supplyPoints"
					type="number"
					value="{{system.supplyPoints}}"
				/>
			</label>
		</div>

	</div>
</form>
